:root {
    --light-blue: #8edafc;
    --main-green: #009688;
    --light-green: #d5f9ba;
    --light-pink: #f3eeea;
    --gray: #b1b1b1;
    --light-gray: #eaeaea;
    --low-light-gray: #e9ebeb;
    --ultra-light-gray: #f4f5f5;
    --xultra-light-gray: #fafafa;
    --background-gray: #d7dbd7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--light-gray);
}

button{
    background-color: transparent;
    border: 0 solid transparent;
    cursor: pointer;
}

.clear-fix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    min-width: 900px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-gray);
    
    background: linear-gradient(to bottom, var(--main-green) 0%,var(--main-green) 20%,var(--main-green) 20%,var(--background-gray) 20%,var(--background-gray) 100%);
}

#app {
    width: 90%;
    height: 95%;
    display: flex;
}

.profile {
    width: 30%;
}

.profile-thumb {
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

.profile-box {
    display: flex;
    align-items: center;
    font-size: 0.5em;
}

.actions i {
    font-size: 1rem;
    color: var(--gray);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.call-to-action {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--light-blue);
}

.call-to-action .action-icon {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    font-size: 1em;
    color: var(--light-blue);
}

.call-to-action .call-text h2 {
    height: 15px;
    overflow: hidden;
    font-size: 0.8em;
}

.call-to-action .call-text a {
    font-size: 0.8em;
    color: gray;
}

.contact-bar {
    padding-top: 10px;
    background-color: var(--xultra-light-gray);
    height: calc(100% - 109px);
}

.contact-bar.active{
    height: calc(100% - 50px);
}

.contact-bar .input-text-container {
    width: 97%;
    margin: auto;
    border: 1px solid var(--gray);
    background-color: white;
    padding: 3px 5px;
}

.contact-bar .input-text-container i{
    margin: 0 15px 0 15px;
    color: var(--gray);
}

.contact-bar .input-text-container input{
    border: 0 solid transparent;
    width: calc(100% - 50px);
    outline: none;
}

.contact-bar ul {
    margin-top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 32px);
    box-shadow: 1px -1px 1px 0px var(--light-gray);
    background-color: white;
    overflow: auto;
}

.contact-bar ul li {
    padding: 15px 5px 15px 20px;
    list-style-type: none;
    cursor: pointer;
}

.contact-bar ul li:hover {
    background-color: var(--ultra-light-gray);
}

.contact-bar ul li.active {
    background-color: var(--low-light-gray);
}

.contact-bar ul.contact-list .profile-box {
    align-items: flex-start;
}

.contact-bar ul.contact-list .profile-box {
    align-items: flex-start;
}

.contact-bar ul li img {
    width: 40px;
}

.contact-bar ul li p {
    font-size: 1.5em;
    color: var(--gray);
    margin-top: 2px;
}

.contact-bar ul li .user-contact {
    width: calc(100% - 170px);
}

@media screen and (max-width:1200px) {
    .contact-bar ul li .user-contact {
        width: calc(100% - 100px);
    }
}

.messages {
    width: calc(70% - 2px);
    height: 100%;
}

.messages header {
    border-left: 2px solid #e5ddd5;
}

.messages header p{
    font-size: 1.2em;
}

.messages main {
    background-color: white;
    height: calc(100% - 50px - 50px);
    overflow-y: auto;
}

.messages main ol {
    min-height: 100%;
    width: calc(100% - 10px);
    background-image: url('../img/mine.jpg');
    list-style: none;
    padding: 20px 40px;
}

.message-box {
    border-radius: 10px;
    margin-bottom: 30px;
    width: 40%;
    padding: 10px 15px;
    font-size: 0.9em;
    position: relative;
}

li:last-child .message-box {
    margin-bottom: 0;
}

.message-data {
    font-size: 0.6em;
    float: right;
    color: var(--gray);
}

.message-box.received {
    background-color: white;
    float: left;
}

.message-box.sent {
    background-color: var(--light-green);
    float: right;
}

.input-message {
    height: 50px;
    background-color: var(--light-pink);
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
}

.input-message .input-container {
    height: 35px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.input-message .input-container input {
    width: 90%;
    border: 0 solid transparent;
    outline: none;
    background-color: transparent;
}

.chat-input-action {
    color: var(--gray);
    font-size: 1.3rem;
}

.dropdown-toggle {
    color: var(--gray);
    position: absolute;
    top: 10px;
    right: 15px;
}

.dropdown-toggle:first-child {
    cursor: pointer;
}

.dropdown-toggle:nth-child(2) {
    text-align: right;
    cursor: pointer;
}

.dropdown-toggle .drop-down-menu {
    background-color: var(--ultra-light-gray);
    color: black;
    text-align: left;
    position: relative;
    z-index: 1;
}

.dropdown-toggle .drop-down-menu li {
    list-style-type: none;
    cursor: pointer;
    padding: 15px;
}

.dropdown-toggle .drop-down-menu li:hover {
    background-color: var(--light-blue);
    color: white;
}