<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>Vue Boolzapp</title>
    </head>
    <body>
        <div class="container">
            <div id="app">
                <div class="profile">
                    <header>
                        <div class="profile-box">
                            <img src="img/avatar_io.jpg" class="profile-thumb" alt="your pic">
                            <h2 class="user-name">{{userName}}</h2>
                        </div>
                        <div class="actions">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>
                    <div class="call-to-action" v-if="notificationPermission == false">
                        <div class="action-icon">  
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        
                        <div class="call-text">
                            <h2>Ricevi notifiche di nuovi messaggi</h2>
                            <a href="#" @click="activeNotification">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <div class="contact-bar" :class="notificationPermission ? 'active' : ''">
                        <div class="input-text-container">
                            <i class="fas fa-search"></i>
                            <input type="text" v-model="contactSearchString" placeholder="Cerca o inizia una nuova chat" @keyup="searchInContacts()">
                        </div>

                        <ul class="contact-list">
                            <li v-for="contact in visibilityCheck(contacts)" @click="setOpenChat(setDataBaseIndex(contact))" :class="(setDataBaseIndex(contact)==openChat) ? 'active': ''">
                                <div class="profile-box">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" class="profile-thumb" :alt="contact.name">
                                    <div class="user-contact">    
                                        <h2 class="user-name">{{contact.name}}</h2>
                                        <p>{{abbMessage(contact.messages[contact.messages.length - 1].text)}}</p>
                                    </div>
                                    <p class="contact-time">
                                        {{contact.messages[contact.messages.length - 1].date}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="messages">
                    <header>
                        <div class="profile-box">
                            <img :src="'img/avatar'+ contacts[openChat].avatar + '.jpg'" class="profile-thumb" :alt="contacts[openChat].name">
                            <div class="user-contact">    
                                <h2 class="user-name">{{contacts[openChat].name}}</h2>
                                <p>Ultimo accesso oggi alle {{lastReceivedMessage(contacts[openChat].messages).date}}</p>
                            </div>
                        </div>
                        <div class="actions">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <main id="chat-box">
                        <ol class="message-chat-box" >
                            <li v-for="message in contacts[openChat].messages" class="clear-fix">
                                <div class="message-box" :class="message.status">
                                    <div class="message-text">{{message.text}}</div>
                                    <small class="message-data">{{message.date}}</small>
                                </div>    
                            </li>
                        </ol>
                    </main>
                    <div class="input-message">
                        <button class="chat-input-action">
                            <i class="far fa-smile"></i>
                        </button>
                        <div class="input-container">    
                            <input type="text" v-model="inputText" placeholder="Scrivi un messaggio" @keydown.enter = "sendMessage(); receiveARandomMessage()">
                        </div>
                        <button class="chat-input-action">
                            <i class="fas fa-microphone" v-if="!inputText.replace(/ /g, '')"></i>
                            <i class="fas fa-paper-plane" v-else @click="sendMessage(); receiveARandomMessage()"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body> 
</html>